<%- include('includes/head.ejs')%>
<body>
  <%- include('includes/navigation.ejs')%>
  <main>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Page not found</h1>
          <ul>
            <% data.forEach(item => { %>
            <li><h2><%= item.name %></h2></li>
            <li><p>Price: <%= item.price %></p></li>
            <li><p>Stock: <%= item.stock %></p></li>
      
            <li><h3>Brand</h3></li>
            <li><p>Name: <%= item.brand.name %></p></li>
      
            <li><h3>Category</h3></li>
            <li><p>Name: <%= item.category.name %></p></li>
            <!-- Access properties of 'item' in your data -->
            <% }); %>
          </ul>
        </div>
      </div>
    </div>
  </main>
  <%- include('includes/footer.ejs')%>

