<%- include('includes/head.ejs')%>
<body>
  <%- include('includes/navigation.ejs')%>
  <main>
    <div class="container-fluid">
      <a href="/product/create" class="btn btn-success">Thêm sản phẩm</a>
      <a href="/brand/create" class="btn btn-success">Mẫu Thêm</a>
      <div class="row">
        <% data.forEach(item => { %>
        <div class="col-md-3">
          <div class="product-item">
            <img src="<%= item.image %>" alt="#" />
            <h2><%= item.name %></h2>
            <p style="text-align: right">Giá: <%= item.price %></p>
            <button class="btn btn-success">Thêm giỏ hàng</button>
            <button class="btn btn-info">Chi tiết</button>
          </div>
        </div>
        <% }); %>
      </div>
    </div>
  </main>
  <%- include('includes/footer.ejs')%>
</body>
