<%- include('includes/head.ejs')%>
<body>
  <%- include('includes/navigation.ejs')%>
  <main>
    <div class="container">
      <a href="/product/create" class="btn btn-success">Thêm sản phẩm</a>
      <a href="/brand/create" class="btn btn-success">Mẫu Thêm</a>
      <div class="row">
        <div class="col-md-12">
          <a href="./brand/createProduct.ejs"></a>
          <h1>Sản phẩm</h1>
          <ul>
            <% data.forEach(item => { %>
            <li><h2><%= item.name %></h2></li>
            <li><p>Price: <%= item.price %></p></li>
            <li><p>Stock: <%= item.stock %></p></li>
              <li><img src="<%= item.image %>" alt="#" style="height:100px"></li>
            <li><h3>Brand</h3></li>
            <li><p>Name: <%= item.brand.name %></p></li>
      
            <li><h3>Category</h3></li>
            <li><p>Name: <%= item.category.name %></p></li>
            <!-- Access properties of 'item' in your data -->
            <% }); %>
          </ul>
        </div>
      </div>
    </div>
  </main>
  <%- include('includes/footer.ejs')%>

