<div>
  <div  class="container-fluid">
    <div style="margin: 30px;">
      <h1>Cộng đồng &#129489;&#127999;&#8205;&#129309;&#8205;&#129489;&#127995;</h1>
      <a class="btn btn-success" onclick="PostCreate()">Đăng bài &#128221;</a>
    </div>
    <div class="row justify-content-center" style="margin: 30px;">
      <% data.forEach(item=> { %>
        <div class="panel panel-default post-item">
          <div class="panel-heading" style="display: flex;">
            <img style="height: 120px; width: 10%;" src="<%= item.background %>" alt="#" />
            <div class="right-post" style="display: grid; margin-left: 15px;">
              <span style="display: flex;">
                <h4 onclick="PostDetail('<%= item.id %>')" style="cursor: pointer">
                  <%= item.title %>
                </h4>
                <% if (getCookie('id')===item.author_id.toString()) { %>
                  <div class="post-action" style="margin-left: 10px;">
                    <a onclick="PostEdit('<%= item.id %>')">
                    <svg style="cursor: pointer;" class="feather feather-edit" fill="none" height="24"
                      stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                      <path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7" />
                      <path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z" />
                    </svg></a>
                    <svg style="cursor: pointer;" xmlns="http://www.w3.org/2000/svg" fill="red" x="0px" y="0px"
                      width="27" height="27" viewBox="0 0 32 32">
                      <path
                        d="M 15 4 C 14.476563 4 13.941406 4.183594 13.5625 4.5625 C 13.183594 4.941406 13 5.476563 13 6 L 13 7 L 7 7 L 7 9 L 8 9 L 8 25 C 8 26.644531 9.355469 28 11 28 L 23 28 C 24.644531 28 26 26.644531 26 25 L 26 9 L 27 9 L 27 7 L 21 7 L 21 6 C 21 5.476563 20.816406 4.941406 20.4375 4.5625 C 20.058594 4.183594 19.523438 4 19 4 Z M 15 6 L 19 6 L 19 7 L 15 7 Z M 10 9 L 24 9 L 24 25 C 24 25.554688 23.554688 26 23 26 L 11 26 C 10.445313 26 10 25.554688 10 25 Z M 12 12 L 12 23 L 14 23 L 14 12 Z M 16 12 L 16 23 L 18 23 L 18 12 Z M 20 12 L 20 23 L 22 23 L 22 12 Z">
                      </path>
                    </svg>
                  </div>
                  <% } %>
              </span>
              <i style="text-decoration: underline;">
                <%= item.author.name %>
              </i>
              <p style=" /* white-space: nowrap; */ overflow: hidden; text-overflow: ellipsis; ">
                <%= item.intro %>
              </p>
              <i>
                <%= item.date %>
              </i>
            </div>
          </div>

        </div>
        <% }); %>
    </div>
  </div>
</div>