<%- include('../includes/head.ejs') %>
<body>
  <%- include('../includes/navigation.ejs') %>
  <div class="container form-container">
    <h1>Danh sách các Brand</h1>
    <a class="btn btn-success" href="/brand/create">Thêm brand mới</a>
    <table class="table">
      <thead>
        <tr>
          <th style="width: 10%; text-align: center">Id</th>
          <th style="width: 20%; text-align: center">Name</th>
          <th style="width: 20%; text-align: center">Image</th>
          <th style="width: 30%; text-align: center">Info</th>
          <th style="width: 20%; text-align: center">Danh mục</th>
        </tr>
      </thead>
      <tbody style="text-align: center">
        <% data.forEach(item => { %>
        <tr>
          <td><%= item.id %></td>
          <td><%= item.name %></td>
          <td>
            <img
              src="<%= item.image %>"
              alt="#"
              style="height: 100px; border-radius: 60px"
            />
          </td>
          <td><%= item.info %></td>

          <td colspan="2">
            <a class="btn btn-success" href="/brand/detail/<%= item.id %>"
              >Detail</a
            >
            <a class="btn btn-primary" href="/brand/edit/<%= item.id %>"
              >Edit</a
            >
            <a
              class="btn btn-danger"
              href="/brand/delete/<%= item.id %>"
              onclick="return confirm('Are you sure you want to delete this user?')"
              >Delete</a
            >
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </div>

  <%- include('../includes/footer.ejs') %>
</body>
